img {
    height: 200px;
}
body {
    display: flex;
    align-content: center;
}
#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 212, 212);
    padding: 10px;
}

#container h1 {
    text-align: center;
}

#heading {
    margin: 10px;
}

#favChars {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
}

#spooky {
    background-color: rgb(44, 44, 78);
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
}

#interests {
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
}

img {
    margin: 10px;
}

#footing {
    margin: 10px;
}

#footing p {
    text-align: center;
}